.signup-form {
    width: 300px;
    margin: 50vh auto 0 auto;
    transform: translateY(-50%);
    padding: 1em;
    background: #f9f9f9;
    border-radius: 5px;
}

.signup-form h2 {
    text-align: center;
}

.form-group {
    margin-bottom: 1em;
}

.form-group label {
    display: block;
    margin-bottom: 0.5em;
}

.form-group input {
    width: calc(100% - 1em);
    padding: 0.5em;
    border: 1px solid #ccc;
    border-radius: 3px;
}

button {
    width: 100%;
    padding: 0.7em;
    border: 0;
    background: #007bff;
    color: #fff;
    border-radius: 3px;
    cursor: pointer;
}

button:hover {
    background: #0056b3;
}
